:root {
  --background: #0c0c0c;
  --foreground: #f9f9f9;

  /* MAIN ACCENT COLORS */
  --accent-green-deep: #1c4a28;
  --accent-green-core: #34b253;
  --accent-green-glow: #88cc66;

  /* ERROR COLOR */
  --accent-red: #c64c39;
  
  /* ADDITIONAL ACCENT COLORS - FOR PINS AND STUFF */
  --accent-cyan: #34b2b2;
  --accent-magenta: #b234b2;
  --accent-yellow: #cbb64d;

  /* NEUTRALS */
  --neutral-950: #121614;
  --neutral-900: #212723;
  --neutral-800: #2f3732;
  --neutral-700: #48514b;
  --neutral-600: #606c64;
  --neutral-500: #79867d;
  --neutral-400: #a1aaa4;
  --neutral-300: #c5c9c6;
  --neutral-200: #dfe2e0;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-s: 480px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-l: 1200px;
}

/*
TBA: LIGHT MODE (MAYBE SOMEDAY)
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0C0C;
    --foreground: #F9F9F9;
  }
}*/